@font-face {
    font-family: "lora-regular";
    src: url('fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "lora-semibold";
    src: url('fonts/Lora-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: "segoe-regular";
    src: url('fonts/Segoe-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "segoe-italic";
    src: url('fonts/Segoe-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "segoe-bold";
    src: url('fonts/Segoe-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "segoe-bold-italic";
    src: url('fonts/Segoe-Bold-Italic.ttf') format('truetype');
}

:root {
    --blue-10: #E0F8FF;
    --blue-20: #B7E9FF;
    --blue-30: #3AA7E4;
    --blue-40: #196CCD;
    --blue-green: #00C9D6;

    --warm-10: #FFBF47;
    --warm-100: #FFEFD0;
    --warm-20: #EE8F39;
    --warm-200: #FFE2CD;
    --warm-30: #D45018;
    --warm-300: #FFDEDC;

    --lora-regular: "lora-regular";
    --lora-semibold: "lora-semibold";

    --segoe-regular: "segoe-regular";
    --segoe-italic: "segoe-italic";
    --segoe-bold: "segoe-bold";
    --segoe-bold-italic: "segoe-bold-italic";
}

.imgModal {
    cursor: pointer;
}

.imgModal:hover {
    opacity: 0.5;
    z-index: 1;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    padding: 10px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .invisible {
    display: none;
  }

/* General CSS styles (for every page) */

body {
    font-family: var(--segoe-regular);
    /* line-height: 150%; */
    margin: 0rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1rem 0 1rem 0;
    box-shadow: 0 5px 15px #EFEFEF;
    z-index: 2;
}

#logo {
    width: 3rem;
    display: block;
    margin: auto;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    /* -webkit-transition: all 0.3s ease-in-out; */
    transition: all 0.3s ease-in-out;
    background-color: var(--blue-40);
    border-radius: 10px;
}

.nav-menu {
    display: none;
    margin-bottom: 0;
    padding: 0;
}

.nav-menu li {
    list-style: none;
    margin-top: .5rem;
}

.nav-link {
    padding: 0.3rem;
    font-size: 1.15rem;
    transition: font-size .2s ease 0s;
}

.nav-link:hover {
    font-family: var(--segoe-bold);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu.active {
    display: block;
}

main {
    margin-top: 80px;
}

.main-content {
    margin: 100px 1.5rem 0 1.5rem;
}

figure, img {
    width: 100%;
}

figure {
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--blue-40);
}

.nav-menu, #page-title, .project-tags, .button-div, .project-name, #cstudy-name, #cstudy-type, #cstudy-time, figcaption, .code-caption, #subtitle, #bubbly-vid, h2 {
    text-align: center;
}

figcaption, .code-caption {
    font-style: italic;
    font-size: 0.9rem;
    margin: .75rem;
}

#cstudy-intro, #cstudy-outro, form {
    border-radius: 2rem;
    padding: 1rem;
}

.cstudy-sec-name {
    margin-top: 2rem;
}

.project-page img {
    margin-top: 1rem;
}

h1, h2 {
    font-family: var(--lora-semibold);
    margin: 1rem 0 0 0;
}

p {
    margin: .75rem 0;
    line-height: 1.5;
}

li {
    margin: .5rem 0;
}

img {
    margin: .75rem 0 0 0;
}

footer, footer a {
    background-color: var(--blue-40);
    color: white;
    text-align: center;
}

footer {
    padding: .5rem 0 1rem 0;
    margin-top: 2rem;
}

#resume {
    text-decoration: underline;
}

#linkedin > img, #email > img, #github > img {
    width: 2rem;
}

#contact-icons {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

/* Homepage CSS styles (for index.html) */

#home-intro {
    background-color: var(--blue-10);
    padding-top: .25rem;
    /* margin-top: 1rem; */
}

#home-intro > div {
    margin: 0 1.5rem;
}

#intro-tags p {
    display: inline-block;
    background-color: var(--blue-green);
    border-radius: 4rem;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
}

#projects {
    margin: 2rem 1.5rem 0 1.5rem;;
}

#home-cstudy-grid > div {
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem 0 rgba(0, 0, 0, 0.2);
}

#home-cstudy-grid > div > div {
    padding: .8rem 1rem;
}

#projects img {
    margin: 0%;
    border-radius: 1rem 1rem 0 0;
}

#projects h2 {
    margin: 0%;
}

.project-tags {
    font-style: italic;
}

.view-button, #submit-button {
    display: inline-block;
    border: 3px solid var(--blue-30);
    border-radius: 4rem;
    padding: 0.5rem 1.5rem;
    transition: color .3s ease-out 0s,
    background-color .3s ease-in 0s;
}

#submit-button {
    background-color: white;
    color: var(--blue-40);
    cursor: pointer;
    font-family: var(--segoe-regular);
    font-size: 1rem;
}

.view-button:hover, #submit-button:hover {
    background-color: var(--blue-30);
    color: white;
}

#cstudy-type, #cstudy-time {
    margin: .5rem;
}


/* About page */

#personal-pic {
    border-radius: 6rem 1rem 6rem 1rem;
    box-shadow: .3rem .3rem .5rem 0 rgba(0, 0, 0, 0.2);
}

/* Project Viet */

#project-viet #cstudy-intro, #project-viet #cstudy-outro {
    background-color: var(--warm-200);
}

pre {
    background-color: var(--warm-100);
    /* margin: auto; */
    padding: 0 2rem;
    /* max-width: 100%; */
    overflow: auto;
}

pre > code {
    display: block;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.viet-note {
    font-style: italic;
    margin-top: 0;
    text-align: center;
}

/* Project Star */

#project-star #cstudy-intro, #project-star #cstudy-outro {
    background-color: var(--warm-100);
}

#star-quotes {
    border-radius: 40px;
}

#star-wrapper1 li {
    font-family: var(--segoe-bold);
}

/* Project Bubbly */

#project-bubbly #cstudy-intro, #project-bubbly #cstudy-outro {
    background-color: var(--warm-200);
}

video {
    max-width: 100%;
}

/* Project Ramen Bar */

#project-ramen #cstudy-intro, #project-ramen #cstudy-outro {
    background-color: var(--warm-300);
}
#ramen-figmalink div, .viet-link div, #star-paper {
    margin: 1rem;
}

/* Project Unify */

#project-unify #cstudy-intro, #project-unify #cstudy-outro {
    background-color: var(--blue-20);
}

/* Contact page */

form {
    background-color: var(--warm-100);
}

input[type=text], #message {
    width: 100%;
    padding: .5rem 1rem;
    margin: .5rem 0 1.2rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--segoe-regular);
}

#message {
    padding-bottom: 5rem;
}

@media screen and (min-width: 600px) {
    
    /* home page */
    #home-intro {
        padding: .5rem 0;
    }
    #home-intro > div {
        margin: 0 3.5rem;
    }
    #projects {
        margin: 2rem 5rem 0 5rem;
    }
    #home-cstudy-grid > div > div {
        padding: 1rem 1.3rem;
    }
    #home-intro img {
        border-radius: 6rem 1rem 6rem 1rem;
        width: 450px;
        margin: 1rem auto;
    }
    #home-cstudy-grid > div {
        margin-top: 2.5rem;
    }
    #contact-icons {
        margin: .75rem 0;
    }

    /* About page */
    #personal-pic {
        width: 350px;
    }

    /* all pages */
    p {
        margin: 1rem 0;
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    .main-content {
        margin: 80px 3.5rem 0 3.5rem;
    }
    #cstudy-intro, #cstudy-outro, form {
        border-radius: 2rem;
        padding: 1.3rem;
    }
    img {
        display: block;
        margin: auto;
    }
    #ramen-figmalink {
        display: flex;
        justify-content: space-around;
    }
    .viet-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form {
        padding: 2rem;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 750px) {
    .hamburger {
        display: none;
    }
    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 4rem;
    }
    .nav-menu {
        display: flex;
        column-gap: 1rem;
        margin: 0;
    }
    #projects {
        margin: 2rem 6.5rem 0 6.5rem;
    }
    #personal-pic {
        width: 50%;
    }
    #star-logo, #star-quotes, #viet-intro-img, #viet-outro-img {
        width: 80%;
    }
    form {
        margin: 2rem 3rem;
    }
}

@media screen and (min-width: 880px) {
    .nav-wrapper {
        margin: 0 6rem;
    }
    #home-intro {
        display: flex;
        padding: 1rem 3rem;
        column-gap: 1.5rem;
        align-items: center;
    }
    #home-intro > div {
        margin: 0;
    }
    #home-intro img, #form-flex div {
        width: 50%;
    }
    #home-cstudy-grid > div {
        display: flex;
        align-items: center;
    }
    #projects img {
        border-radius: 1rem 0 0 1rem;
        width: 50%;
    }
    #projects {
        margin: 2rem 3rem 0 3rem;
    }
    footer {
        display: flex;
        align-items: center;
        column-gap: 8rem;
        justify-content: space-between;
        margin-top: 3rem;
        padding: 1.5rem 5rem;
    }
    #footer-intro {
        text-align: left;
    }
    #footer-intro p {
        margin: 1rem 0;
    }

    /* About page */
    #about-wrapper {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        font-size: 1.15rem;
        margin: 0 3rem 2rem 3rem;
    }
    #personal-pic {
        width: 30%;
    }

    /* All pages */
    .project-page img {
        width: 80%;
    }
    #star-logo, #star-charts img, #star-quotes, #bubbly-wrapper3 img, #ramen-gif, #unify-research, #unify-survey, #viet-intro-img, #viet-outro-img {
        width: 70%;
    }
    #star-poster, #bubbly-appflow1, #bubbly-appflow2, #bubbly-persona, #bubbly-inter-guide, #ramen-wireframe, #ramen-final-des, #unify-mapping, #unify-swot, #viet-ui {
        width: 100%;
    }
    #form-flex {
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
    }
}

@media screen and (min-width: 1100px) {
    #home-intro {
        padding: 2rem 5rem;
        column-gap: 2rem;
    }
    #projects {
        margin: 2rem 5rem 0 5rem;
    }
    #home-cstudy-grid > div, .cstudy-sec-name {
        margin-top: 3rem;
    }
    #home-cstudy-grid > div > div {
        padding: 1rem 2rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        margin: 1.5rem 0;
    }
    .main-content {
        margin: 80px auto auto auto;
        max-width: 60rem;
    }
    .project-page img {
        margin-top: 2rem;
    }
    #star-logo, #ramen-gif, #viet-intro-img, #viet-color {
        width: 60%;
    }
    #star-present {
        width: 70%;
    }
    #star-charts {
        display: flex;
        column-gap: 2rem;
        justify-content: space-between;
        width: 100%;
    }
    #unify-wrapper4, #unify-wrapper5 {
        display: flex;
        width: 100%;
    }
    #unify-wrapper4 img, #unify-wrapper5 img {
        margin: 0;
        width: 100%;
    }
    #star-wrapper1, #ramen-wrapper1, #ramen-wrapper2, #viet-wrapper1 {
        display: flex;
        align-items: center;
        column-gap: 2rem;
    }
    #star-wrapper1 {
        flex-direction: row-reverse;
    }
    #bubbly-wrapper1, #bubbly-wrapper2, #unify-wrapper1, #unify-wrapper2, #unify-wrapper3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
    #bubbly-wrapper1 figure, #bubbly-wrapper2 figure, #unify-wrapper1 figure, #unify-wrapper2 figure, #unify-wrapper3 figure {
        grid-column: 2/4;
    }
    #unify-survey {
        width: 80%;
    }
    #star-quotes, #star-charts img, #bubbly-cardsort, #bubbly-rebrand, #ramen-persona, #ramen-wrapper2 img {
        width: 100%;
    }
    #bubbly-wrapper3 {
        display: flex;
        flex-wrap: wrap;
    }
    #star-wrapper1 > *, #ramen-wrapper1 > *, #bubbly-wrapper3 img, #viet-wrapper1 img {
        width: 50%;
    }
}

@media screen and (min-width: 1280px) {
    .nav-wrapper {
        margin: 0 8rem;
    }
    .main-content {
        margin: 96px auto auto auto;
    }
    #intro-sentence {
        margin: 2rem 0;
    }
    #intro-tags p {
        margin: 0.5rem;
    }
    #home-intro {
        padding: 2rem 6rem;
    }
    #projects {
        margin: 2rem 6rem 0 6rem;
    }
    #projects img {
        width: 45%;
    }
}

@media screen and (min-width: 1440px) {
    #intro-tags {
        display: flex;
        flex-direction: column;
    }
    #intro-tags p {
        width: fit-content;
    }
    p, .view-button {
        font-size: 1.2rem;
    }
    #home-intro {
        column-gap: 3rem;
    }
    #home-cstudy-grid > div > div {
        padding: 1rem 3rem;
    }
}