@font-face {
    font-family: "lato-bold";
    src: url('fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "nunito-regular";
    src: url('fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "nunito-bold";
    src: url('fonts/nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "nunito-semi-bold";
    src: url('fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: "nunito-extra-bold";
    src: url('fonts/Nunito-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: "nunito-bold-italic";
    src: url('fonts//nunito/Nunito-BoldItalic.ttf') format('truetype');
}

:root {
    --blue-10: #E0F8FF;
    --blue-20: #B7E9FF;
    --blue-30: #3AA7E4;
    --blue-40: #196CCD;
    --blue-green: #00C9D6;

    --warm-10: #FFBF47;
    --warm-100: #FFEFD0;
    --warm-20: #EE8F39;
    --warm-200: #FFE2CD;
    --warm-30: #D45018;
    --warm-300: #FFDEDC;

    --lato-bold: "lato-bold";

    --nunito-regular: "nunito-regular";
    --nunito-bold: "nunito-bold";
    --nunito-semi-bold: "nunito-semi-bold";
    --nunito-extra-bold: "nunito-extra-bold";
    --nunito-bold-italic: "nunito-bold-italic";
}

/* General CSS styles (for every page) */

body {
    font-family: var(--nunito-regular);
    /* line-height: 150%; */
    margin: 0rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1rem 0 1rem 0;
    box-shadow: 0 5px 15px #EFEFEF;
    z-index: 2;
}

#logo {
    width: 3rem;
    display: block;
    margin: auto;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    /* -webkit-transition: all 0.3s ease-in-out; */
    transition: all 0.3s ease-in-out;
    background-color: var(--blue-40);
    border-radius: 10px;
}

.nav-menu {
    display: none;
    margin-bottom: 0;
    padding: 0;
}

.nav-menu li {
    list-style: none;
    margin-top: .5rem;
}

.nav-link {
    padding: 0.3rem;
    font-size: 1.15rem;
    transition: font-size .2s ease 0s;
}

.nav-link:hover {
    font-family: var(--nunito-extra-bold);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu.active {
    display: block;
}

main {
    margin-top: 80px;
}

.main-content {
    margin: 100px 1.5rem 0 1.5rem;
}

div.callout-text {
    margin: auto 1.5rem;
}

figure, img {
    width: 100%;
}

figure {
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--blue-40);
}

h2.project-name, .button-div, .nav-menu, #page-title, #cstudy-name, #cstudy-type, #cstudy-time, figcaption, .code-caption, #subtitle, #bubbly-vid, h3 {
    text-align: center;
}

.button-div, #cstudy-intro {
    margin-top: 2rem;
}

#project-msft h3, #project-se h3 {
    text-align: left;
}

figcaption, .code-caption {
    font-style: italic;
    font-size: 0.9rem;
    margin: .75rem;
}

#cstudy-intro, #cstudy-outro, form {
    border-radius: 2rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

div#cstudy-intro {
    max-width: 50rem;
    margin: 1.5rem auto;
    padding-bottom: .25rem;
}

div#cstudy-intro p {
    margin: 0;
}

#cstudy-outro {
    margin-top: 5rem;
}

.project-page img, #ramen-wrapper5 {
    margin-top: 1rem;
}

img.hero-img {
    margin-top: -1rem;
}

h1, h2 {
    font-family: var(--lato-bold);
    margin: 1rem 0 0 0;
}

h3 {
    font-family: var(--nunito-bold);
    font-size: 1.3rem;
}

h4 {
    font-family: var(--nunito-bold);
    font-size: 1.15rem;
}

p {
    margin: .75rem 0;
}

li {
    margin: .5rem 0;
}

p, li {
    line-height: 160%;
}

img {
    margin: .75rem 0 0 0;
}

strong {
    font-family: var(--nunito-extra-bold);
}

.key-point {
    font-family: var(--nunito-bold-italic);
}

footer, footer a {
    background-color: var(--blue-40);
    color: white;
    text-align: center;
}

footer {
    padding: .5rem 0 1rem 0;
    margin-top: 2rem;
}

#resume {
    text-decoration: underline;
}

#linkedin > img, #email > img, #github > img {
    width: 2rem;
}

#contact-icons {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

/* Homepage CSS styles (for index.html) */

.animation_text span {
    color: #995CA5;
}

#home-intro-fullwidth {
    background-color: var(--blue-10);
    padding-top: .25rem;
    /* margin-top: 1rem; */
}

#homepage-headshot {
    display: block;
    width: 70%;
    margin: 1rem auto;
}

#home-intro-text {
    margin: 0 1.5rem;
}

#arrow-gif {
    border-radius: 50px;
    margin: 0;
    height: 4rem;
    width: 4rem;
}

#home-wrapper1 {
    cursor: pointer;
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

#home-wrapper1 h3:hover {
    color: #196CCD;
}

#intro-tags p {
    display: inline-block;
    background-color: var(--blue-green);
    border-radius: 4rem;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
}

#projects {
    margin: 2rem 1.5rem 0 1.5rem;
    padding-top: 2rem;
}

#home-cstudy-grid > div {
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow .2s ease 0s;
}

#home-cstudy-grid > div:hover {
    box-shadow: 0 -.2rem .5rem .25rem rgba(0, 0, 0, 0.2);
}

#home-cstudy-grid > div > div {
    padding: .8rem 1rem;
}

#projects img {
    margin: 0%;
    border-radius: 1rem 1rem 0 0;
}

#projects h2 {
    margin: 0%;
}

.project-tags {
    font-style: italic;
}

.view-button, #submit-button {
    display: inline-block;
    border: 3px solid var(--blue-30);
    border-radius: 4rem;
    padding: 0.5rem 1.5rem;
    transition: color .3s ease-out 0s,
    background-color .3s ease-in 0s;
}

#submit-button {
    background-color: white;
    color: var(--blue-40);
    cursor: pointer;
    font-family: var(--nunito-regular);
    font-size: 1rem;
}

.view-button:hover, #submit-button:hover {
    background-color: var(--blue-30);
    color: white;
}

#cstudy-type, #cstudy-time {
    margin: .5rem auto;
}




/* About page */

#personal-pic {
    border-radius: 6rem 1rem 6rem 1rem;
    box-shadow: .3rem .3rem .5rem 0 rgba(0, 0, 0, 0.2);
}


/* All project pages */

.project-page h1 {
    margin-top: 8rem;
}

.project-page h2 {
    text-align: left;
    margin: 4rem 0 2rem 0;
}

.project-page p, ul, ol {
    max-width: 50rem;
    margin-top: 1.5rem;
}

figcaption {
    max-width: 50rem;
}

.prj-summary {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    margin: auto;
}

.prj-summary > div {
    width: 45%;
}

.prj-summary h3 {
    margin-bottom: .5rem;
    text-align: left;
}

.prj-summary p {
    margin-top: 0;
}

.margin-bot-05 {
    margin-bottom: .5rem;
}

iframe {
    width: 100%;
    max-width: 450px;
    min-height: 250px;
}

.callout {
    width: 100vw;
    margin-left: calc((-100vw + 100%) / 2);
    margin-right: calc((-100vw + 100%) / 2);
    padding: 1rem 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 150%;
}

.callout h2 {
    margin-top: 2rem;
}

.callout p, .callout ol, .callout ul, figcaption {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p.callout-leftalign, ol.callout-leftalign, ul.callout-leftalign {
    text-align: left;
}

.distinct-callout {
    margin-top: 4rem;
}

li.arrow-mark {
    list-style-type: none;
}

div.impact {
    margin: 3.5rem auto;
    max-width: 30rem;
}

p.impact-text {
    margin: 0 auto;
}

p.big-number {
    color: #399212;
    font-size: 180%;
    font-weight: bold;
    margin-bottom: .5rem;
}

#project-msft p.big-number {
    color: #286ED7;
}

p.intro-impact {
    font-size: 120%;
}

div.intro-impact {
    margin: 1rem 0;
}

h3.intro-impact {
    margin: 1rem 0 .5rem 0;
}

div.top-impact {
    column-gap: 4rem;
    flex-wrap: nowrap;
}

span.cross-text {
    text-decoration: line-through;
}

span.sub-heading {
    font-size: 75%;
}

div.photo-strip-4 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

div.photo-strip-4 img {
    width: 50%;
}

.column-3, .column-3-img {
    display: flex;
    flex-wrap: wrap;
}
.column-3-img img {
    width: 50%;
}

img {
    display: block;
    margin: auto;
}

.round-border-1 {
    border-radius: 1rem;
}

/* Project MSFT */

#project-msft #cstudy-intro, #project-msft #cstudy-outro, #project-msft div.callout {
    background-color: var(--blue-10);
}

#project-msft span.sub-heading, #project-msft .callout h2, #project-msft .blue-text {
    color: var(--blue-40);
}

/* Project SE app */

.project-page h1 {
    margin: 4rem auto;
}

#project-se #cstudy-intro, #se #cstudy-outro, .se-callout {
    background-color: #E3FBD8;
}

.se-callout h2, #project-se span.sub-heading {
    color: #4EA528;
}

.se-callout-grey {
    background-color: #EEEEEE;
}

#se-icon {
    display: block;
    width: 80%;
    margin: auto;
}


/* Project Viet */

#project-viet #cstudy-intro, #project-viet #cstudy-outro {
    background-color: var(--warm-200);
}

pre {
    background-color: var(--warm-100);
    /* margin: auto; */
    padding: 0 2rem;
    /* max-width: 100%; */
    overflow: auto;
}

pre > code {
    display: block;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.viet-note {
    font-style: italic;
    margin-top: 0;
    text-align: center;
}

/* Project Star */

#project-star #cstudy-intro, #project-star #cstudy-outro, .star-callout {
    background-color: var(--warm-100);
}

#star-quotes {
    border-radius: 40px;
}

#star-poster {
    border: 2px solid #995CA5;
    border-radius: 1rem;
}


/* Project Bubbly */

#project-bubbly #cstudy-intro, #project-bubbly #cstudy-outro {
    background-color: var(--warm-200);
}

video {
    max-width: 100%;
}

/* Project Ramen Bar */

#project-ramen span.sub-heading {
    color: #F37A23;
}

#project-ramen #cstudy-intro, #project-ramen #cstudy-outro {
    background-color: var(--warm-100);
}

.viet-link div, #star-paper {
    margin: 1rem;
}

p.center-align {
    margin-left: auto;
    margin-right: auto;
}

img.ramen-quotes {
    max-width: 400px;
}

#ramen-wrapper1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#ramen-wrapper1 > * {
    margin: 2rem auto 0 auto;
}

#ramen-figmalink > div {
    margin-bottom: 1rem;
}

div.callout-text {
    max-width: 60rem;
}

.ramen-callout {
    background-color: #FFF1D6;
}

.ramen-sketch-text {
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
    margin-top: 2rem;
}

.ramen-sketch-text h4 {
    margin-top: .75rem;
}

h4 {
    font-family: var(--nunito-extra-bold);
}

.ramen-h3 {
    background-color: var(--warm-100);
    border-radius: 1rem;
    margin: 4rem auto auto auto;
    padding: .5rem 1rem;
    width: fit-content;
}

img.ramen-icon {
    width: 3rem;
    margin: 0;
}

video.ramen-video {
    display: block;
    width: 70%;
    margin: 2rem auto auto auto;
}

/* Project Unify */

#project-unify #cstudy-intro, #project-unify #cstudy-outro {
    background-color: var(--blue-20);
}

/* Contact page */

form {
    background-color: var(--warm-100);
}

input[type=text], #message {
    width: 100%;
    padding: .5rem 1rem;
    margin: .5rem 0 1.2rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--nunito-regular);
}

#message {
    padding-bottom: 5rem;
}

@media screen and (min-width: 600px) {
    
    /* home page */
    #home-intro-fullwidth {
        padding: .5rem 0;
    }
    #home-intro-text {
        margin: 0 3.5rem;
    }
    #projects {
        margin: 2rem 5rem 0 5rem;
    }
    #home-cstudy-grid > div > div {
        padding: 1rem 1.3rem;
    }
    #home-cstudy-grid > div {
        margin-top: 2.5rem;
    }
    #contact-icons {
        margin: .75rem 0;
    }

    /* About page */
    #personal-pic {
        width: 350px;
    }

    /* all pages */
    p {
        margin: 1rem 0;
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .main-content {
        margin: 80px 5rem 0 5rem;
    }
    div.callout-text {
        margin: auto 5rem;
    }
    #cstudy-intro, #cstudy-outro, form {
        border-radius: 2rem;
        padding: 1.3rem;
    }
    #ramen-figmalink {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }
    .viet-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form {
        padding: 2rem;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 750px) {
    .hamburger {
        display: none;
    }
    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 4rem;
    }
    .nav-menu {
        display: flex;
        column-gap: 1rem;
        margin: 0;
    }
    #homepage-headshot {
        width: 50%;
    }
    #projects {
        margin: 2rem 6.5rem 0 6.5rem;
        padding-top: 6rem;
    }
    #personal-pic, #star-logo {
        width: 50%;
    }
    #star-quotes, #viet-intro-img, #viet-outro-img, #bubbly-logo {
        width: 80%;
    }
    form {
        margin: 2rem 3rem;
    }
    #star-yellow-table {
        border: 5px solid var(--warm-10);
        border-radius: 2rem;
    }
    #star-purple-table, #star-poster {
        border: 5px solid #995CA5;
        border-radius: 2rem;
    }
    img.ramen-quotes {
        max-width: 900px;
    }
}

@media screen and (min-width: 880px) {
    .nav-wrapper {
        margin: 0 6rem;
    }
    #home-intro-wrapper {
        display: flex;
        column-gap: 1.5rem;
        align-items: center;
        margin: auto 3.5rem;
    }
    #home-intro-text {
        margin: 0;
        max-width: 40rem;
    }
    #homepage-headshot {
        width: 35%;
    }
    #form-flex div {
        width: 50%;
    }
    #home-cstudy-grid > div {
        display: flex;
        align-items: center;
    }
    #projects img {
        border-radius: 1rem 0 0 1rem;
        width: 50%;
    }
    #projects {
        margin: 2rem 3rem 0 3rem;
    }
    footer {
        display: flex;
        align-items: center;
        column-gap: 8rem;
        justify-content: space-between;
        margin-top: 3rem;
        padding: 1.5rem 5rem;
    }
    #footer-intro {
        text-align: left;
    }
    #footer-intro p {
        margin: 1rem 0;
    }

    /* About page */
    #about-wrapper {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        font-size: 1.15rem;
        margin: 0 3rem 2rem 3rem;
    }
    #personal-pic {
        width: 30%;
    }
    h2.project-name, .button-div {
        text-align: left;
    }

    /* All pages */
    .prj-summary {
        justify-content: space-between;
    }
    .prj-summary > div {
        width: fit-content;
        max-width: 220px;
    }
    .project-page img {
        width: 80%;
    }
    img.ramen-icon {
        width: 3rem;
        margin: 0;
    }
    img.callout {
        width: 100vw;
    }
    #se-icon, #star-charts img, #star-quotes, #bubbly-wrapper3 img, #ramen-newmap, #ramen-gif, #unify-research, #unify-survey, #viet-intro-img, #viet-outro-img {
        width: 70%;
    }
    img.width100, #star-poster, #bubbly-persona, img.ramen-quotes, #ramen-journeymap, #ramen-howmightwe, #ramen-wireframe, #ramen-final-des-1, #ramen-final-des-2, #ramen-progress, #unify-mapping, #unify-swot, #viet-ui {
        width: 100%;
    }
    #bubbly-logo {
        width: 50%;
    }
    #form-flex {
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
    }
    .callout {
        font-size: 120%;
    }
    #ramen-sketch > * {
        width: 50%;
    }
    #ramen-sketch {
        display: flex;
        column-gap: 3rem;
        align-items:center;
        align-content: flex-start;
    }
    div.photo-strip-4 img {
        width: 25%;
    }
    div.se-problem {
        display: flex;
        column-gap: 3rem;
        align-items: center;
        margin-top: 4rem;
    }
    div.se-problem > img, div.se-problem > video {
        width: 40%;
    }
    div.se-solution {
        display: flex;
        column-gap: 4rem;
        align-items: center;
        justify-content: space-between;
        margin: 4rem auto auto auto;
    }
    div.se-solution video {
        width: 220px;
    }
    div.se-2img {
        display: flex;
        margin: auto;
    }
    div.se-2img img {
        margin-top: .75rem;
    }
    .column-3-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .column-3-img img {
        width: 100%;
    }

    /* Modal image */
    .imgModal {
        cursor: pointer;
    }
    
    .imgModal:hover {
        box-shadow: .3rem .3rem .5rem 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 3;
        /* Sit on top */
        padding: 10px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }
      
    .modal-content {
        margin: auto;
        display: block;
        width: 100%;
    }
      
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
      
    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }
      
    @keyframes zoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }
      
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
      
    .close:hover, .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}

@media screen and (min-width: 1100px) {
    #home-intro-fullwidth {
        padding: 2rem 0;
    }
    #projects {
        margin: 2rem 5rem 0 5rem;
    }
    .project-page h2 {
        margin: 6rem 0 3rem 0;
    }
    .margin-top-3rem, .callout h2  {
        margin-top: 3rem;
    }
    #home-cstudy-grid > div > div {
        padding: 1rem 3rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        margin: 1.5rem 0;
    }
    iframe {
        height: 280px;
    }
    .main-content {
        margin: 80px auto auto auto;
        max-width: 60rem;
    }
    .project-page img {
        margin-top: 2rem;
    }
    img.ramen-icon {
        margin: 0;
    }
    img.hero-img {
        margin-top: -2rem;
    }
    div.margin-top-4rem, p.margin-top-4rem, h3.margin-top-4rem, img.margin-top-4rem {
        margin-top: 4rem;
    }
    .margin-top-6rem, #home-cstudy-grid > div {
        margin-top: 6rem;
    }
    div.callout-text {
        margin: auto;
    }
    #se-icon, #ramen-gif, #viet-intro-img, #viet-color {
        width: 60%;
    }
    #star-present {
        width: 70%;
    }
    #star-charts {
        display: flex;
        column-gap: 2rem;
        justify-content: space-between;
        width: 100%;
    }
    #unify-wrapper4, #unify-wrapper5 {
        display: flex;
        width: 100%;
    }
    #unify-wrapper4 img, #unify-wrapper5 img {
        margin: 0;
        width: 100%;
    }
    #star-wrapper1, #star-wrapper2, #star-wrapper3, #star-wrapper4, #ramen-wrapper2, #ramen-wrapper3, picture.ramen-wrapper4, #ramen-wrapper5, #viet-wrapper1 {
        display: flex;
        align-items: center;
        column-gap: 2rem;
    }
    #star-wrapper1, #star-wrapper2 {
        flex-direction: row-reverse;
    }
    .bubbly-wrapper, #unify-wrapper1, #unify-wrapper2, #unify-wrapper3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
    .bubbly-wrapper figure, #unify-wrapper1 figure, #unify-wrapper2 figure, #unify-wrapper3 figure {
        grid-column: 2/4;
    }
    #unify-survey, div.se-2img {
        width: 80%;
    }
    div.column-5050 img, #star-quotes, #star-charts img, #bubbly-cardsort, #bubbly-rebrand, #ramen-persona, #ramen-wrapper2 img {
        width: 100%;
    }
    #bubbly-wrapper3 {
        display: flex;
        flex-wrap: wrap;
    }
    div.column-5050 > *, #star-wrapper1 > *, #ramen-wrapper3 > *, #ramen-heuristic, picture.ramen-wrapper4 > *, #ramen-wrapper5 > *, #bubbly-wrapper3 img, #viet-wrapper1 img {
        width: 50%;
    }
    #star-wrapper2, #star-wrapper3 {
        column-gap: 4rem;
    }
    #homepage-headshot {
        width: 30%;
        margin: 1rem 0 1rem auto;
    }
    #star-wrapper2 img, #star-wrapper3 img {
        width: 35%;
    }
    #star-wrapper4 img {
        width: 40%;
    }
    div.column-5050 {
        display: flex;
        column-gap: 3rem;
        align-items: flex-start;
        align-content: flex-start;
    }
    .column-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
    #ramen-wrapper1 {
        flex-direction: row;
        justify-content: space-around;
    }
    div.se-solution {
        column-gap: 7rem;
    }
    #se-cropped-vid {
        width: 250px;
    }
    div.grid-2column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }
    div.impact {
        margin: 2rem auto;
    }
    .grid-2-1 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding-right: 4rem;
        column-gap: 3rem;
    }
    .grid-1-2 {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding-left: 3rem;
        column-gap: 5rem;
    }
}

@media screen and (min-width: 1280px) {
    #projects, .nav-wrapper, #home-intro-wrapper {
        max-width: 1100px;
    }
    .nav-wrapper, #home-intro-wrapper {
        margin: auto;
    }
    .main-content {
        margin: 96px auto auto auto;
    }
    #intro-sentence {
        margin: 2rem 0;
    }
    #intro-tags p {
        margin: 0.5rem;
    }
    #projects {
        margin: 6rem auto;
    }
    #projects img {
        width: 45%;
    }
}